.header {
    grid-area: h;
    background-color: #3644d9;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 40px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.avatarWrapper {
    display: flex;
    align-items: center;
}

.img {
    height: 35px;
    width: 30px;
    border-radius: 50%;
}